html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#colorDisplay{
    display: flex;
    width: 550;
    justify-content: center;
}

img{
    width: 110px;
    height: 350px;
}

#display{
    display: flex;
    flex-direction: column;
    width: 110px;
}

#display > p{
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    align-self: center
    
}

select, button{
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

select{
    width: 312px;
    height: 42px;
    font-size: 15px;
    border-radius: 6px;
}

input[type=color]{
    width: 61px;
    height: 41px;
    border: 0.5px solid #313131;
}

button{
    width: 123px;
    height: 42px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;
}

.hex-val{
    font-size: 12px;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}